body {
    overflow: hidden;
    margin: 0px;
}

.reset {
    position: absolute;
    font-size: 2.75rem;
    width: 3.75rem;
    height: 3.75rem;
    color: #589fe5;
    opacity: 0.6;
    z-index: 101;
    top: 8rem;
    right: 0;
    margin-right: 0.3rem;
    transition: transform 500ms ease-in-out;
    transform: translateX(110%);
    border: none;
    background: none;
}

.reset:hover {
    font-size: 3.5rem;
    width: 4.5rem;
    height: 4.5rem;
    transition: ease-in-out 100ms;
}

.reset.open {
    transform: translateX(0px);
}

#canvasContainer {
    position: relative;
}

#canvasContainer canvas, #overlay, .colors, .loading {
    position: absolute;
}

#openSettings {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    width: 72px;
    height: 37.33px;
    opacity: 0.1;
    transition: ease 500ms;
}

#openSettings:hover {
    opacity: 1;
    transition: ease 500ms;
}

#overlay, .colors, .loading {
    top: 0;
    right: 0;
    z-index: 100;
}

.colors {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0.1rem;
    padding: 0.5rem;
    align-items: center;
    justify-items: center;
    width: 10rem;
    height: 4rem;
    background-color: #589fe5;
    opacity: 0.6;
    border-radius: 1rem;
    top: 3rem;
    margin-right: 0.3rem;
    transition: transform 500ms ease-in-out;
    transform: translateX(110%)
}

.colors.open {
    transform: translateX(0px);
}

.color {
    padding: 0.1rem;
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    border-radius: 0.1rem;
    opacity: 1;
    transition: ease-in-out 100ms;

}

.color:hover {
    width: 1.8rem;
    height: 1.8rem;
    transition: ease-in-out 100ms;
}

#canvas {
    top: 0;
    left: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: #000000;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    transition: ease-out, 1000ms;

}

.loading.active {
    visibility: visible;
    background-color: #000000;
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 0ms;
}

.loading img {
    width: 540px;
    height: 540px;
}

#cadffff {
    background-color: #adffff;
}

#ce4c1f9 {
    background-color: #e4c1f9;
}
#cecc30b {
    background-color: #ecc30b;
}
#c2c423f {
    background-color: #2c423f;
}
#ceb8258 {
    background-color: #eb8258;
}
#cf26419 {
    background-color: #f26419;
}
#c9067c6 {
    background-color: #9067c6;
}
#cf5e2c8 {
    background-color: #f5e2c8;
}
#c201e50 {
    background-color: #201e50;
}
#c000000 {
    background-color: #000000;
}